# Servidor
NODE_ENV=development
PORT=3000

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_DATABASE=seu_banco

# JWT
JWT_SECRET=mude-este-secret-em-producao
JWT_EXPIRES_IN=1d

# Logs
LOG_LEVEL=debug